@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-blue-light to-blue-dark;
  }

  .form-input {
    @apply w-full border border-gray-light px-3 py-2 rounded-md shadow-md
      focus:outline-none focus:border-blue-dark focus:ring-1 focus:ring-blue-dark
      outline-none;
  }

  .form-input-span {
    @apply block text-lg font-medium text-black py-2;
  }

  .form-button {
    @apply inline-flex justify-center py-2 px-4 w-full border border-transparent
      shadow-md text-lg font-medium rounded-md text-white bg-blue-500
      hover:bg-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2
      focus:ring-indigo-500;
  }
}
